<?xml version="1.0"?>
<!-- Definición estándar de archivo XML -->

<model>
  <!-- Elemento raíz que define un modelo en Gazebo -->

  <name>Hexagonal World</name>
  <!-- Nombre del modelo. Es importante: es el nombre con el que Gazebo reconocerá este modelo -->

  <version>1.0</version>
  <!-- Versión del modelo. Sirve para control de cambios o actualizaciones de la misma estructura -->

  <!-- <sdf version="1.4">model-1_4.sdf</sdf> -->
  <!-- Declaración alternativa para SDF versión 1.4 (usada en Gazebo Classic principalmente) -->
  <!-- Es una especie de 'compatibilidad hacia atrás' (backward compatibility) -->

  <sdf version="1.7">model.sdf</sdf>
  <!-- Declaración del archivo .sdf principal del modelo para SDF versión 1.7 o superior -->

  <author>
    <name>Juan Manuel Ledesma Rangel</name>
    <email>jujuan27@hotmail.com</email>
  </author>
  <!-- Información del autor del modelo -->

  <description>
    Hexagonal world with ROS symbol for Gazebo Garden
  </description>
  <!-- Breve descripción del modelo -->
</model>
